body{
  font-family: "微软雅黑";
  background-color: #333;
  color: #fff;
  font-size: 20px;
  overflow: hidden;
}
.waring{
  color: red;
  margin-bottom: 40px;
}
h1{
  text-align: center;
  margin-top: 100px;
  font-size: 36px;
}
.container{
  width: 500px;
  margin: 0 auto;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}
.form-group{
  margin-bottom: 20px;
}
.form-group label{
  display: block;
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}
.form-group input[type="text"],.form-group input[type="email"],.form-group textarea{
  width: 75%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 20px;
  background-color: #444;
  color: #fff;
  text-align: center;
}
.form-group textarea{
  height: 200px;
}
.form-group input[type="button"]{
  background-color: #333;
  color: #fff;  
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
}
.form-group input[type="button"]:hover{
  background-color: #666;
}
a:link {
  color: aqua;
  text-decoration: none;
}
a:visited {
  color:aqua;
  text-decoration:none;
}
a:hover {
  color:deepskyblue;
  text-decoration:none;
}
a:active {
  color:dodgerblue;
  text-decoration:none;
}